

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to User Insights!</h1>
    <p class="lead">User insights based on data from your site.</p>
    <hr class="my-4">
    <p>We bring you a breakdown of your users' behavior on your website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

